body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #05324a;
}

.container {
    text-align: center;
    background-color: #bad8f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(2, 2, 2, 0.1);
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #100f0f;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #05213f;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#qr-code {
    margin-top: 20px;
}
